:root { /* variáveis globais para cores */
    --purple: #e0a3f3; 
    --white: #ffffff;
    --black: #000000; 
}

.light-theme { 
    --bg: var(--purple); /* cor de fundo para o tema claro */
    --fontColor: var(--black); /* cor do texto para o tema claro */
}

.dark-theme { 
    --bg: var(--black); /* cor de fundo para o tema escuro */
    --fontColor: var(--purple); /* cor do texto para o tema escuro */
}

body { 
    background: var(--bg); /* aplicar a cor de fundo */
    color: var(--fontColor); /* aplicar a cor do texto */
    font-family: monospace; /* família de fonte para o corpo */
}

ul {
    font-family: helvetica; /* estilo para lista ordenada */
}

li {
    list-style: circle; /* estilo para item da lista */
}

.list {
    list-style: square; /* estilo para a classe list */
}

#msg {
    font-family: monospace; /* família de fonte para o parágrafo */
}

.btn {
    color: white; /* cor do texto do botão */
    background-color: purple; /* cor de fundo do botão */
    position: absolute; /* posiciona de forma absoluta em relação ao seu contêiner pai mais próximo posicionado */
    top: 20px; /* posição do botão a 20px do topo do contêiner pai */
    left: 250px; /* posição do botão a 250px da esquerda do contêiner pai */
    height: 50px; /* altura do botão como 50px */
    width: 50px; /* largura do botão como 50px */
    border-radius: 50%; /* bordas do botão como totalmente arredondadas, tornando o botão circular */
    border: none; /* remove qualquer borda padrão do botão */
}


.btn:focus { 
    outline-style: none; /* elimina o contorno retangular quando o botão for selecionado */
}